# Supabase Configuration
VITE_SUPABASE_URL=https://ynekidtchpalpyvurfvv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_pmH03B-tIIRPfKAWPYSUQg_7AQYlvrW

# Add other environment variables here as needed
